rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow all reads and writes in emulator mode
    // Secure these rules for production!
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2099, 12, 31);
    }
  }
}


